server {
    charset utf-8;
    server_tokens off;

    listen 80 default_server;
    server_name _;

    root {{ deploy_nginx_root }};
    index index.php;

    access_log {{ deploy_nginx_access_log }};
    error_log {{ deploy_nginx_error_log }};

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        fastcgi_index index.php;
        set $fsn /index.php;
        if (-f $document_root$fastcgi_script_name) {
            set $fsn $fastcgi_script_name;
        }
        fastcgi_read_timeout 3600s;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fsn;
        fastcgi_pass unix:{{ deploy_php_fpm_socket }};
    }

    location ~ /\. {
        deny all;
    }
}
