[app]
listen = {{ deploy_php_fpm_socket }}
user = {{ deploy_user }}
group = {{ deploy_user_group }}
listen.owner = www-data
listen.group = www-data
listen.mode = '0600'
pm = dynamic
pm.max_children = 100
pm.min_spare_servers = 3
pm.max_spare_servers = 10
env[LANG] = {{ init_locale }}
env[LANGUAGE] = {{ init_locale }}
env[LC_ALL] = {{ init_locale }}
